
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" default-href="" text="" icon="arrow-back" routerLink="/landing"
        routerDirection="root">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content id="signin" fullscreen>
  <div class="section_one">
    <h2>LOGIN</h2>
    <p>Buy product online or offline</p>
  </div>

  <div class="section_two ion-padding">
    <img class="ion-padding" src="assets/images/eCommerce-img.png" />

    <!-- SignIn Form -->
    <form class="ion-padding">
      <!-- Email -->
      <ion-item>
        <ion-label>
          <ion-icon name="mail" color="dark"></ion-icon>
        </ion-label>
        <ion-input type="email" placeholder="Email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>

      <!-- Password -->
      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="eye" color="dark"></ion-icon>
        </ion-label>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>

      <!-- Forget Password Button -->
      <ion-button expand="block" color="dark" fill="clear" slot="end" routerLink="/forget-password"
        routerDirection="root">
        Forget Password?
      </ion-button>


      <!-- SignIn Buttons -->
      <div class="buttons">
        <ion-button expand="block" color="dark" (click)="sendLogin()">
          <ion-text><strong>SIGN IN</strong></ion-text>
        </ion-button></div>
    </form>
  </div>

  <!-- SignUp Buttons -->
  <div class="section_three">
    <ion-button fill="clear" color="dark" routerLink="/signup" routerDirection="root">
      <span>Don't have an account? <b>Sign Up</b></span>
    </ion-button>
  </div>
</ion-content>